<form style="margin: 10px" action="/user/login" method="post">
  <div class="mb-3">
    <label >Email address</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
    <label >Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <button style="margin: 5px;" type="submit" class="btn btn-primary">Submit</button>
</form>