<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin DashBoard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
</head>
<body>
        <%- include('partials/navbar') %>
<h2>
  Total Registrations:
  <span><%= totalUsers %></span>
  <button type="button"
          onclick="window.location.href='/admin/viewallregistrations'">
    Click Here To See All Registrations
  </button>
</h2>

<h2>
  Total Successful Payments:
  <span><%= paidOrdersCount %></span>
  <button type="button"
          onclick="window.location.href='/admin/viewsuccessfulldonations'">
    Click Here To See All Successful Donations
  </button>
</h2>

<h2>
  Total Donations:
  <span><%= totalDonationAmount %></span>
  <button type="button"
          onclick="window.location.href='/admin/viewalldonations'">
    Click Here To See All Donations
  </button>
</h2>

     <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
</body>
</html>