<%- include('partials/header',{title:"Sign-Up"}) %>


<body>
        <%- include('partials/navbar') %>

    <h1>SignUp-Page</h1>

            <%- include('partials/signUpForm') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
</body>
</html>
