<%- include('partials/header',{title:"Sign-Up"}) %>


<body>
        <%- include('partials/navbar') %>

    <h1>SignUp-Page</h1>

            <%- include('partials/signUpForm') %>

    
</body>
</html>
